

body {
    margin: 0;
    padding: 0;
  }
  
  #map{
    width: 100%;
    height: 100vh;
    
  }
  
  .star{
    font-size: 1.5em;
  } 
  
  .icon1-button {
    background-image: url('images/kiss.png');
  }
  .icon2-button {
    background-image: url('images/anger.png');
  }
  .icon3-button {
    background-image: url('images/garbage.png');
  }
  .icon4-button {
    background-image: url('images/hand.png');
  }
  .icon5-button {
    background-image: url('images/save.png');
  }