.parent
{
    width:100%;
}
.left
{
    float:left;
    width:20%;
    box-sizing:border-box;
    padding:5px;
    border:#CCC solid 1px;
    min-height:200px;
}

.right
{
    float:left;
    width:80%;
    box-sizing:border-box;
    padding:5px;
    border:#CCC solid 1px;
    min-height:500px;
}